:root{
  --color-gray:rgb(234, 234, 234);
  --color-celeste:rgb(142, 218, 252);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-size: .8rem;
}

p{
  margin: 0;
}

li{
  list-style: none;
  margin: 0px 5px;
}

ul{
  padding: 5px 0;
  margin: 0px;
}

.bg-duo{
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    to top,rgb(218, 219, 212)85%, rgb(0, 150, 136)15%);
}

.container_main{
  width: 95%;
  height: 95%;
  max-width: 1200px;
  /* min-width: 660px; */
  margin: auto;
}

/* CONTENITORE DI SINISTRA CONTENENTI I CONTATTI  */

.sidebar-left{
  background-color: var(--color-gray);
  width: 30%;
  height: 100%;
}

.user_personal{
  width: 100%;
  height: 60px;
}

.box_awesome{
  color: gray;
  margin: 0px 10px;
}
.box_awesome i{
  font-size: 1.2rem;
  margin: 0 10px;
}

.img-box{
  width: 60px;
  height: 100%;
  border-radius: 50%;
  padding: 10px;
}

.img-box p{
  font-size: .9rem;
  margin-left: 5px;
}

.img-box img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user_notifiche{
  width: 100%;
  height: 60px;
  background-color: var(--color-celeste);
  padding: 10px;
}

.user_notifiche .i-box{
background-color: white;
width: 40px;
border-radius: 50%;
aspect-ratio: 1;
margin-right:10px;
}

.user_notifiche .i-box i{
  font-size: 1.2rem;
  color: var(--color-celeste);
}

.input-group{
  width: 100%;
  height: 50px;
  padding: 5px;
}

.text_box a{
  line-height: 10px;
  color: gray;
}

.box_user{
  height: calc(100% - 170px);
  overflow-y: scroll;
  background-color: white
}



.box_user ul li{
  position: relative;
  border: 1px solid rgba(197, 197, 197, 0.137);
}

.box_user li.active:hover{
  background-color: rgb(226, 226, 226);
  cursor: pointer;
}

.box_user ul li img{
width: 50px;
border-radius: 50%;
}

.box_user ul li .clock{
position: absolute;
right: 0;

}

/* CONTENITORE DI DESTRA CONTENENTE LA CHAT  */

.sidebar-right{
  background-color: var(--color-gray);
  width: 70%;
  height: 100%;
}

.user_personal{
  padding: 0 10px;
  border-left:1px solid rgb(209, 208, 208) ;
}

.user_box_info{
  width: 200px;
}

.box_conversazione{
  background-image: url(../img/mine.jpg);
  width: 100%;
  height: calc(100% - 130px);
  clear: both;
  display: table;
  content:''; 
}

.box_messaggio{
  width: 100%;
  padding: 10px;
}

.received, .sent{ 
  width: 200px;
  border-radius: 10px; 
  padding: 10px;
}

.received{
  background-color:white;

}

.sent{
  background-color:rgb(213, 249, 186);
}

.messaggio_testo{
  float: left;
}

.messaggio_orario{
  float: right;
  margin-right: 10px;
}

.options{
  float: right;
  font-size: 0.8rem;
  cursor: pointer;
}


.input_conversation{
  width: 100%;
  height: 70px;
}
.input_conversation i{
  color: gray;
  font-size: 1.4rem;
}

.form-control{
  width: 80%;
}

.info-box{
  width: 200px;
  height: 50px;
}

.info-box img{
  border-radius: 50%;
  margin-right: 10px;
}

