:root{
  --color-gray:rgb(234, 234, 234);
  --color-celeste:rgb(142, 218, 252);
  --color-text-gray:rgb(201, 199, 201);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-size: .8rem;
  font-family: 'Lato', sans-serif;
}

p{
  margin: 0;
}

li{
  list-style: none;
  margin: 0px 5px;
}

ul{
  padding: 5px 0;
  margin: 0px;
}

/* Box Main container */

.bg-duo{
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    to top,
    rgb(218, 219, 212)85%,
    rgb(0, 150, 136)15%);
}

.container_main{
  width: 95%;
  height: 95%;
  max-width: 1200px;
  margin: auto;
}

/* CONTENITORE DI SINISTRA CONTENENTI I CONTATTI  */

.sidebar-left{
  background-color: var(--color-gray);
  width: 30%;
  height: 100%;
}

/* box personal user */
.user_personal{
  width: 100%;
  height: 60px;
}

.img-box{
  width: 60px;
  height: 100%;
  border-radius: 50%;
  padding: 10px;
}

.img-box img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.img-box p{
  font-size: .9rem;
  margin-left: 5px;
}

.box_awesome{
  color:rgb(176, 176, 176);
  margin: 0px 10px;
}

.box_awesome i{
  font-size: 1.3rem;
  margin: 0 10px;
}

/* / box personal user */


/* box user_notifiche  */

.user_notifiche{
  width: 100%;
  height: 60px;
  background-color: var(--color-celeste);
  padding: 10px;
}

.user_notifiche .i-box{
background-color: white;
width: 40px;
border-radius: 50%;
aspect-ratio: 1;
margin-right:10px;
}

.text_box_notifiche a{
  line-height: 10px;
  color: gray;
}

.user_notifiche .i-box i{
  font-size: 1.2rem;
  color: var(--color-celeste);
}

/* / box user_notifiche  */


/* box input group */

.input-group{
  width: 100%;
  height: 50px;
  padding: 5px;
}

.input-group-text{
  background-color: white;
  padding: 0.375rem 18px;
}

.input-group-text i{
  color: rgb(181, 184, 186);
}

.form-control::placeholder{
  font-size: 0.7rem;
  color:rgb(123, 123, 123);
}

/* / box input group */


/* box box_user */

.box_user{
  height: calc(100% - 170px);
  overflow-y: scroll;
  background-color: white
}

.text_box{
  margin-top: 10px;
  margin-left: 5px;
}

.user_name{
  font-weight: bold;
}

.user_lastmessage{
font-size: 0.7rem;
color: rgb(183, 185, 186);
}

.box_user ul li{
  position: relative;
  border: 1px solid rgba(197, 197, 197, 0.137);
}

.box_user li.active:hover{
  background-color: rgb(226, 226, 226);
  cursor: pointer;
}

.box_user ul li img{
width: 50px;
border-radius: 50%;
}

.box_user ul li .clock{
position: absolute;
font-size: 0.6rem;
color: rgb(183, 185, 186);
right: 0;

}

/* CONTENITORE DI DESTRA CONTENENTE LA CHAT  */

.sidebar-right{
  background-color: var(--color-gray);
  width: 70%;
  height: 100%;
}

.user_personal{
  padding: 0 10px;
  border-left:1px solid rgb(209, 208, 208) ;
}

.info-box{
  height: 50px;
}

.user_box_info{
  padding-top: 7px;
}

.ultimo_messaggio{
  font-size: 0.7rem;
  color: rgb(183, 185, 186);

}

/* box_conversazione */

.box_conversazione{
  background-image: url(../img/mine.jpg);
  width: 100%;
  height: calc(100% - 130px);
  overflow-y: scroll;
  padding: 20px;
}

.box_messaggio{
  padding: 10px;
}

.received, .sent{ 
  border-radius: 10px; 
  padding: 10px;
}

.messaggio_testo{
  float: left;
  overflow-wrap: anywhere;
  font-weight: 600;
}

.received{
  background-color:white;
  margin-right:40px ;

}

.sent{
  background-color:rgb(213, 249, 186);
  margin-left:40px ;
}

.messaggio_orario{
  float: right;
  margin-right: 5px;
  margin-top: 2px;
  font-size: 0.7rem;
  color: rgb(183, 185, 186);
}

.options{
  float: right;
  font-size: 0.8rem;
  cursor: pointer;
}

/* box input_conversation */

.input_conversation{
  width: 100%;
  height: 70px;
}

.input_conversation i{
  color: gray;
  font-size: 1.4rem;
}

.form-control{
  width: 80%;
}

.info-box img{
  border-radius: 50%;
  margin-right: 10px;
}


